@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    var myEmail =  Model.Input?.Email;
    var myUsername = Model.Input?.Username;
    var provinces = (SelectList)ViewData["province"];
}



<div>
    <video playsinline autoplay muted loop>
        <source src="~/video/VideoGames.mp4" type="video/mp4">

    </video>
    <div id="register-form">
        <div class="login-title">
            <h3>@ViewData["Title"]</h3></div>
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            
            
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <span class="material-symbols-outlined input-icon">
                    mail
                </span>
                <input asp-for="Input.Email" class="form-control logInput" autocomplete="username" aria-required="true" placeholder="Email address" value="@myEmail" />
               
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div>
                <span class="material-symbols-outlined input-icon">
                    person
                </span>
                <input asp-for="Input.Username" class="form-control logInput" autocomplete="username" aria-required="true" placeholder="Username" value="@myUsername" />

                <span asp-validation-for="Input.Username" class="text-danger">@TempData["error"]</span>
            </div>
            
           
                <div>
                    <span class="material-symbols-outlined input-icon">
                        badge
                    </span>
                    <input type="text" class="form-control logInput" autocomplete="new-FirstName" aria-required="true" placeholder="First Name" asp-for="Input.FirstName" />
                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                </div>
                <div>
                    
                    <input type="text" class="form-control logInput" autocomplete="new-LastName" aria-required="true" placeholder="Last Name" asp-for="Input.LastName" />
                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                </div>
                <div>
                    <span class="material-symbols-outlined input-icon">
                       call
                    </span>
                    <input type="text" class="form-control logInput" autocomplete="new-PhoneNumber" aria-required="true" placeholder="Phone Number" asp-for="Input.PhoneNumber" />
                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                </div>
            <div>
                <span class="material-symbols-outlined input-icon">
                    home
                </span>
                <select asp-for="Input.Province" class="form-control logInput dropdown-custom" asp-items="provinces"></select>
                <span asp-validation-for="Input.Province" class="text-danger"></span>
            </div>
                <div>
                    <span class="material-symbols-outlined input-icon">
                        credit_card
                    </span>
                    <input type="text" class="form-control logInput" autocomplete="new-CreditCard" aria-required="true" placeholder="Credit card" asp-for="Input.CreditCard" />
                    <span asp-validation-for="Input.CreditCard" class="text-danger"></span>
                </div>
            <div>
                <span class="material-symbols-outlined input-icon">
                    lock
                </span>
                <input asp-for="Input.Password" class="form-control logInput" autocomplete="new-password" aria-required="true" placeholder="Password" />

                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div>
                <span class="material-symbols-outlined input-icon">
                    lock
                </span>
                <input asp-for="Input.ConfirmPassword" class="form-control logInput" autocomplete="new-password" aria-required="true" placeholder="Confirm Password" />

                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="login-submit" type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
